<form [formGroup]="cardForm" (ngSubmit)="submit()">
  <label for="numberCard">Number of card</label>
  <input
    type="text"
    class="form-control"
    name="numberCard"
    id="numberCard"
    formControlName="numberCard"
    placeholder="0000 0000 0000 0000"
    autofocus
    autocomplete="off"
    size="18"
    maxlength="16"
  >
  <div class="alert alert-danger"
       *ngIf="cardForm.controls['numberCard'].invalid && cardForm.controls['numberCard'].touched">
    <p [hidden]="!cardForm.controls['numberCard'].hasError('numberAlgorithm')">This number of card is wrong</p>
    <p [hidden]="!cardForm.controls['numberCard'].hasError('inputValidatorTypeOf')">Type only numbers</p>
    <p [hidden]="!cardForm.controls['numberCard'].hasError('required')">Number of card field is required</p>
    <p [hidden]="!cardForm.controls['numberCard'].hasError('inputMinLength')">This input must have 16 numbers</p>
  </div>
  <label for="dataFinishCard">Data of card</label>
  <input type="text"
         name="dataFinishCard"
         class="form-control"
         size="3"
         id="dataFinishCard"
         formControlName="dataFinishCard"
         placeholder="00 / 00"
         autocomplete="off"
         maxlength="4"
  >
  <div class="alert alert-danger"
       *ngIf="cardForm.controls['dataFinishCard'].invalid && cardForm.controls['dataFinishCard'].touched">
    <p [hidden]="!cardForm.controls['dataFinishCard'].hasError('required')">Date field is required</p>
    <p [hidden]="!cardForm.controls['dataFinishCard'].hasError('dataTypeValidator')">Type only numbers</p>
    <p [hidden]="!cardForm.controls['dataFinishCard'].hasError('inputMinLength')">This input must have 4 numbers</p>
    <p [hidden]="!cardForm.controls['dataFinishCard'].hasError('dataMonthValidator')">Type correct month</p>
    <p [hidden]="!cardForm.controls['dataFinishCard'].hasError('dataYearValidator')">Type correct year</p>
  </div>
  <label for="cvv">CVV of card</label>
  <input type="text"
         name="cvv"
         id="cvv"
         class="form-control"
         size="3"
         formControlName="cvv"
         placeholder="000"
         autocomplete="off"
         maxlength="3"
  >
  <div class="alert alert-danger"
       *ngIf="cardForm.controls['cvv'].invalid && cardForm.controls['cvv'].touched">
    <p [hidden]="!cardForm.controls['cvv'].hasError('inputValidatorTypeOf')">Type only numbers</p>
    <p [hidden]="!cardForm.controls['cvv'].hasError('required')">CVV field is required</p>
    <p [hidden]="!cardForm.controls['cvv'].hasError('inputMinLength')">This input must have 3 numbers</p>
    <p [hidden]="!cardForm.controls['cvv'].hasError('cvvNumberValidator')">Type only integer</p>
  </div>
  <button class="btn btn-default" type="submit" [disabled]="cardForm.invalid">check</button>
</form>
