input{
  display: block;
}
input.ng-touched.ng-invalid {
  border:solid red 2px;
}
input.ng-touched.ng-valid {
  border:solid green 2px;
}
::-webkit-input-placeholder {
  text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align:center;
}

:-ms-input-placeholder {
  text-align:center;
}
.form-control {
  width: auto;
}
.btn {
  border: 1px solid gray;
  margin-top: 5px;
  display: block;
}
.alert {
  width: 400px;
}

